{
	"name": "GateServer003",
    "tblpath": {
        "excel":"../tbl/excel/",
        "json":"../tbl/json/",
        "xml":"../tbl/xml/"
    },
    "event_queuesize":1000000,
	"connects": [
		{
			"name": "LoginConnector",
			"parser": "LS2GW_MsgParser",
			"host": {
				"ip": "192.168.30.203", "port": 7001
			},
            "interval": 3,
            "svrchannel":true,
            "disable": 0
		},
		{
			"name": "MatchConnector",
			"parser": "MS2GW_MsgParser",
			"host": {
				"ip": "192.168.30.203", "port": 8001
			},
            "interval": 3,
            "svrchannel":true,
            "disable": 0
		}
	],
	"listens": [
		{
			"name": "RoomListener",
			"parser": "RS2GW_MsgParser",
			"host": {
				"ip": "192.168.30.203", "port": 6004
			},
            "verify": 0,
            "svrchannel":true
		}
    ],
	"wslistens": [
		{
			"name": "ClientListener",
			"parser": "C2GW_MsgParser",
			"host": {
				"ip": "192.168.30.203", "port": 6104
			},
            "verify": 1,
            "svrchannel":false
		}
    ],
    "redis": {
        "passwd": "",
        "db": 0,
        "host": {
            "ip": "192.168.30.203", "port": 6377
        }
    }
}

