{
	"name": "MatchServer",
    "tblpath": {
        "excel":"../tbl/excel/",
        "json":"../tbl/json/",
        "xml":"../tbl/xml/"
    },
    "event_queuesize":100000,
	"listens": [
		{
			"name": "GateListener",
			"parser": "GW2MS_MsgParser",
			"host": {
				"ip": "192.168.30.203", "port": 8001
			},
            "verify": 0,
            "svrchannel":true
		},
		{
			"name": "RoomListener",
			"parser": "RS2MS_MsgParser",
			"host": {
				"ip": "192.168.30.203", "port": 8002
			},
            "verify": 0,
            "svrchannel":true
		}
	],
    "httplistens": [
		{
			"name": "GmCmdListener",
			"host": {
				"ip": "192.168.30.203", "port": 8003
			}
		}
    ],
    "redis": {
        "passwd": "",
        "db": 0,
        "host": {
            "ip": "192.168.30.203", "port": 6377
        }
    }
}
