{
	"name": "RoomServer003",
    "tblpath": {
        "excel":"../tbl/excel/",
        "json":"../tbl/json/",
        "xml":"../tbl/xml/"
    },
    "event_queuesize":100000,
	"connects": [
		{
			"name": "MatchConnector",
			"parser": "MS2RS_MsgParser",
			"host": {
				"ip": "192.168.30.203", "port": 8002
			},
            "interval": 3,
            "svrchannel":true,
            "disable": 0
		},
		{
			"name": "GateConnector",
			"parser": "GW2RS_MsgParser",
			"host": {
				"ip": "", "port": 0
            },
            "interval": 1,
            "svrchannel":true,
            "disable": 1,
            "disreconnect":1
		}
	],
    "redis": {
        "passwd": "",
        "db": 0,
        "host": {
            "ip": "192.168.30.203", "port": 6377
        }
    }
}

